.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 380px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 16px;
  padding: 2rem;
  color: white;
}

.login-card h2 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.login-card p {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 1.5rem;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-divider {
  text-align: center;
  margin: 1rem 0;
  font-size: 0.8rem;
  opacity: 0.6;
}

.google-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: white;
  color: black;
  font-weight: 600;
}

.signup-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.85rem;
}

/* Bred */
.admin-breadcrumbs {
  font-size: 13px;
  color: #888;
  margin-bottom: 4px;
}

.admin-breadcrumbs a {
  color: #666;
  text-decoration: none;
}

.admin-breadcrumbs a:hover {
  color: #000;
}

#admin-page-title {
  font-size: 20px;
  font-weight: 600;
}


/* table */

